<h3>Forex Prediction Project

<h4>Modelling 2: Gradient Boosting with XGBoost

In [4]:
import pandas as pd
from data_functions import *

In [5]:
data,currency_dict,countries = load_and_process_forex_data()

In [6]:
data.head()

,Date,EURO/US$,UNITED KINGDOM POUND/US$,YEN/US$,YUAN/US$,AUSTRALIAN DOLLAR/US$
0,2000-01-03,0.9847,0.6146,101.70,8.2798,1.5172
1,2000-01-04,0.9700,0.6109,103.09,8.2799,1.5239
2,2000-01-05,0.9676,0.6092,103.77,8.2798,1.5267
3,2000-01-06,0.9686,0.6070,105.19,8.2797,1.5291
4,2000-01-07,0.9714,0.6104,105.17,8.2794,1.5272

In [7]:
currency_dict

{'EURO AREA': 'EURO/US$',
 'UNITED KINGDOM': 'UNITED KINGDOM POUND/US$',
 'JAPAN': 'YEN/US$',
 'CHINA': 'YUAN/US$',
 'AUSTRALIA': 'AUSTRALIAN DOLLAR/US$'}

In [8]:
countries

['EURO AREA', 'UNITED KINGDOM', 'JAPAN', 'CHINA', 'AUSTRALIA']

In [9]:
def extract_currency_data(data, currency):
    """
    Extract a specific country's data from the main dataframe.
    
    Parameters:
    data (DataFrame): The main dataframe containing all countries' data
    country_name (str): The name of the country to extract data for
    
    Returns:
    DataFrame: A dataframe containing only the specified country's data with date column
    """
    country_data = data[['Date',currency]].copy()
    
    # Ensure date column is included and properly formatted
    
    return country_data

In [10]:
# Extract all the currencies from data using extract_currency_data() function in a loop
raw_gradient_data = {}
for country in countries:
    raw_gradient_data[currency_dict[country]] = extract_currency_data(data,currency_dict[country])

In [11]:
# As a function:
def create_data_dict_currency(data,countries,currency_dict):

    data_dict = {}
    for country in countries:
        data_dict[currency_dict[country]] = extract_currency_data(data,currency_dict[country])
    
    return data_dict

<h5>Preparing Data for Gradient Boosting Modelling

In [17]:
# We need to do similar data prep to ARIMA modelling for this:
# - Create returns / log_returns (to keep the data stationary)
# - Create lagging features. LAGS = [1, 2, 3, 5, 10, 20, 30, 60]
# - Create time features (days, weeks, months)
# - Add rolling statistics e.g. rolling averages
# - Add forecasting column (target) (will be 60 in our case)
# - Train-test split (no randomness)

# Take time with this to make sure the data is properly processed, as there are lots of things being added ready for model-input.

Model Training: