<h3>Forex Prediction Project

- 22 Different currencies (quoted in USD).
- ~5000 points per series.
- 3 different models to try on each set
- Write a pre-processing function for each model type that can be used on any of the 22 currencies (different models will require different degrees of pre-processing)

<h4>Data Import + Pre-clean + EDA

In [40]:
import pandas as pd
import numpy as np

# For importing the data:
import os
from pathlib import Path

In [41]:
cwd_path = Path.cwd()
data_dir = Path('data')
d_file_path = cwd_path / data_dir / 'Foreign_Exchange_Rates.xlsx'
raw_data = pd.read_excel(d_file_path)

In [42]:
raw_data.head(10)

,Unnamed: 0,Time Serie,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,HONG KONG - HONG KONG DOLLAR/US$,...,SINGAPORE - SINGAPORE DOLLAR/US$,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,TAIWAN - NEW TAIWAN DOLLAR/US$,THAILAND - BAHT/US$
0,0,2000-01-03,1.5172,0.9847,1.9033,0.6146,1.805,1.4465,8.2798,7.7765,...,1.6563,7.329,101.7,3.8,7.964,8.443,72.3,1.5808,31.38,36.97
1,1,2000-01-04,1.5239,0.97,1.9238,0.6109,1.8405,1.4518,8.2799,7.7775,...,1.6535,7.218,103.09,3.8,7.934,8.36,72.65,1.5565,30.6,37.13
2,2,2000-01-05,1.5267,0.9676,1.9339,0.6092,1.856,1.4518,8.2798,7.778,...,1.656,7.208,103.77,3.8,7.935,8.353,72.95,1.5526,30.8,37.1
3,3,2000-01-06,1.5291,0.9686,1.9436,0.607,1.84,1.4571,8.2797,7.7785,...,1.6655,7.2125,105.19,3.8,7.94,8.3675,72.95,1.554,31.75,37.62
4,4,2000-01-07,1.5272,0.9714,1.938,0.6104,1.831,1.4505,8.2794,7.7783,...,1.6625,7.2285,105.17,3.8,7.966,8.415,73.15,1.5623,30.85,37.3
5,5,2000-01-10,1.5242,0.9754,1.935,0.6107,1.819,1.4568,8.2794,7.7785,...,1.6618,7.254,105.28,3.8,8.024,8.449,73.3,1.5704,30.83,37.27
6,6,2000-01-11,1.5209,0.9688,1.9365,0.6068,1.8225,1.457,8.2795,7.7785,...,1.669,7.214,106.09,3.8,7.969,8.397,73.35,1.5605,30.83,37.61
7,7,2000-01-12,1.5202,0.9727,1.9286,0.6073,1.835,1.455,8.2796,7.7787,...,1.669,7.236,105.76,3.8,7.977,8.418,73.35,1.566,30.8,37.54
8,8,2000-01-13,1.4954,0.9737,1.9084,0.6067,1.814,1.4495,8.2798,7.7788,...,1.67,7.252,106.09,3.8,7.9425,8.417,73.35,1.5707,30.8,37.49
9,9,2000-01-14,1.5004,0.9874,1.9186,0.6115,1.805,1.4497,8.2797,7.7789,...,1.6752,7.347,105.86,3.8,7.997,8.474,73.35,1.5945,30.83,37.55

In [43]:
# Drop the 'Unnamed: 0' column
data = raw_data.drop(["Unnamed: 0"],axis=1)

In [44]:
data.head(15)

,Time Serie,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,HONG KONG - HONG KONG DOLLAR/US$,INDIA - INDIAN RUPEE/US$,...,SINGAPORE - SINGAPORE DOLLAR/US$,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,TAIWAN - NEW TAIWAN DOLLAR/US$,THAILAND - BAHT/US$
0,2000-01-03,1.5172,0.9847,1.9033,0.6146,1.805,1.4465,8.2798,7.7765,43.55,...,1.6563,7.329,101.7,3.8,7.964,8.443,72.3,1.5808,31.38,36.97
1,2000-01-04,1.5239,0.97,1.9238,0.6109,1.8405,1.4518,8.2799,7.7775,43.55,...,1.6535,7.218,103.09,3.8,7.934,8.36,72.65,1.5565,30.6,37.13
2,2000-01-05,1.5267,0.9676,1.9339,0.6092,1.856,1.4518,8.2798,7.778,43.55,...,1.656,7.208,103.77,3.8,7.935,8.353,72.95,1.5526,30.8,37.1
3,2000-01-06,1.5291,0.9686,1.9436,0.607,1.84,1.4571,8.2797,7.7785,43.55,...,1.6655,7.2125,105.19,3.8,7.94,8.3675,72.95,1.554,31.75,37.62
4,2000-01-07,1.5272,0.9714,1.938,0.6104,1.831,1.4505,8.2794,7.7783,43.55,...,1.6625,7.2285,105.17,3.8,7.966,8.415,73.15,1.5623,30.85,37.3
5,2000-01-10,1.5242,0.9754,1.935,0.6107,1.819,1.4568,8.2794,7.7785,43.55,...,1.6618,7.254,105.28,3.8,8.024,8.449,73.3,1.5704,30.83,37.27
6,2000-01-11,1.5209,0.9688,1.9365,0.6068,1.8225,1.457,8.2795,7.7785,43.6,...,1.669,7.214,106.09,3.8,7.969,8.397,73.35,1.5605,30.83,37.61
7,2000-01-12,1.5202,0.9727,1.9286,0.6073,1.835,1.455,8.2796,7.7787,43.6,...,1.669,7.236,105.76,3.8,7.977,8.418,73.35,1.566,30.8,37.54
8,2000-01-13,1.4954,0.9737,1.9084,0.6067,1.814,1.4495,8.2798,7.7788,43.55,...,1.67,7.252,106.09,3.8,7.9425,8.417,73.35,1.5707,30.8,37.49
9,2000-01-14,1.5004,0.9874,1.9186,0.6115,1.805,1.4497,8.2797,7.7789,43.55,...,1.6752,7.347,105.86,3.8,7.997,8.474,73.35,1.5945,30.83,37.55
10,2000-01-17,ND,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
11,2000-01-18,1.506,0.988,1.9342,0.6105,1.7942,1.4502,8.2793,7.779,43.6,...,1.6735,7.356,105.49,3.8,8.01,8.468,72.85,1.5942,30.89,37.4
12,2000-01-19,1.5074,0.9886,1.9399,0.6083,1.793,1.4527,8.2797,7.7798,43.6,...,1.6753,7.3655,105.39,3.8,8,8.487,73.2,1.5965,30.85,37.4
13,2000-01-20,1.5002,0.9869,1.9486,0.6047,1.7785,1.4484,8.2794,7.7795,43.6,...,1.6765,7.343,105.45,3.8,7.977,8.468,72.95,1.5915,30.85,37.28
14,2000-01-21,1.5103,0.9901,1.9592,0.6059,1.78,1.442,8.2795,7.7792,43.6,...,1.681,7.3725,104.96,3.8,7.999,8.493,73.3,1.5973,30.85,37.23

In [45]:
# What datatype are the values in the 'time serie' column?
print(type(data[data.columns[0]][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5217 entries, 0 to 5216
Data columns (total 23 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Time Serie                                 5217 non-null   datetime64[ns]
 1   AUSTRALIA - AUSTRALIAN DOLLAR/US$          5217 non-null   object
 2   EURO AREA - EURO/US$                       5217 non-null   object
 3   NEW ZEALAND - NEW ZELAND DOLLAR/US$        5217 non-null   object
 4   UNITED KINGDOM - UNITED KINGDOM POUND/US$  5217 non-null   object
 5   BRAZIL - REAL/US$                          5217 non-null   object
 6   CANADA - CANADIAN DOLLAR/US$               5217 non-null   object
 7   CHINA - YUAN/US$                           5217 non-null   object
 8   HONG KONG - HONG KONG DOLLAR/US$           5217 non-null   object
 9   INDIA - INDIAN RUPEE/US$                   5217 non-null   object
 10  KOREA - WON/US$                            5217 non-null   object
 11  MEXICO - MEXICAN PESO/US$                  5217 non-null   object
 12  SOUTH AFRICA - RAND/US$                    5217 non-null   object
 13  SINGAPORE - SINGAPORE DOLLAR/US$           5217 non-null   object
 14  DENMARK - DANISH KRONE/US$                 5217 non-null   object
 15  JAPAN - YEN/US$                            5217 non-null   object
 16  MALAYSIA - RINGGIT/US$                     5217 non-null   object
 17  NORWAY - NORWEGIAN KRONE/US$               5217 non-null   object
 18  SWEDEN - KRONA/US$                         5217 non-null   object
 19  SRI LANKA - SRI LANKAN RUPEE/US$           5217 non-null   object
 20  SWITZERLAND - FRANC/US$                    5217 non-null   object
 21  TAIWAN - NEW TAIWAN DOLLAR/US$             5217 non-null   object
 22  THAILAND - BAHT/US$                        5217 non-null   object
dtypes: datetime64[ns](1), object(22)
memory usage: 937.6+ KB

In [47]:
data.isnull().sum()
# No null values, but does contain 'ND' values

Time Serie                                   0
AUSTRALIA - AUSTRALIAN DOLLAR/US$            0
EURO AREA - EURO/US$                         0
NEW ZEALAND - NEW ZELAND DOLLAR/US$          0
UNITED KINGDOM - UNITED KINGDOM POUND/US$    0
BRAZIL - REAL/US$                            0
CANADA - CANADIAN DOLLAR/US$                 0
CHINA - YUAN/US$                             0
HONG KONG - HONG KONG DOLLAR/US$             0
INDIA - INDIAN RUPEE/US$                     0
KOREA - WON/US$                              0
MEXICO - MEXICAN PESO/US$                    0
SOUTH AFRICA - RAND/US$                      0
SINGAPORE - SINGAPORE DOLLAR/US$             0
DENMARK - DANISH KRONE/US$                   0
JAPAN - YEN/US$                              0
MALAYSIA - RINGGIT/US$                       0
NORWAY - NORWEGIAN KRONE/US$                 0
SWEDEN - KRONA/US$                           0
SRI LANKA - SRI LANKAN RUPEE/US$             0
SWITZERLAND - FRANC/US$                      0
TAIWAN - NEW TAIWAN DOLLAR/US$               0
THAILAND - BAHT/US$                          0
dtype: int64

In [48]:
# Drop rows containing 'ND' values
data = data[~data.isin(['ND']).any(axis=1)]

In [49]:
# Convert all columns except 'Time Serie' to float
for col in data.columns[1:]:  # Skip the first column 'Time Serie'
    data[col] = pd.to_numeric(data[col], errors='coerce')

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5015 entries, 0 to 5216
Data columns (total 23 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Time Serie                                 5015 non-null   datetime64[ns]
 1   AUSTRALIA - AUSTRALIAN DOLLAR/US$          5015 non-null   float64
 2   EURO AREA - EURO/US$                       5015 non-null   float64
 3   NEW ZEALAND - NEW ZELAND DOLLAR/US$        5015 non-null   float64
 4   UNITED KINGDOM - UNITED KINGDOM POUND/US$  5015 non-null   float64
 5   BRAZIL - REAL/US$                          5015 non-null   float64
 6   CANADA - CANADIAN DOLLAR/US$               5015 non-null   float64
 7   CHINA - YUAN/US$                           5015 non-null   float64
 8   HONG KONG - HONG KONG DOLLAR/US$           5015 non-null   float64
 9   INDIA - INDIAN RUPEE/US$                   5015 non-null   float64
 10  KOREA - WON/US$                            5015 non-null   float64
 11  MEXICO - MEXICAN PESO/US$                  5015 non-null   float64
 12  SOUTH AFRICA - RAND/US$                    5015 non-null   float64
 13  SINGAPORE - SINGAPORE DOLLAR/US$           5015 non-null   float64
 14  DENMARK - DANISH KRONE/US$                 5015 non-null   float64
 15  JAPAN - YEN/US$                            5015 non-null   float64
 16  MALAYSIA - RINGGIT/US$                     5015 non-null   float64
 17  NORWAY - NORWEGIAN KRONE/US$               5015 non-null   float64
 18  SWEDEN - KRONA/US$                         5015 non-null   float64
 19  SRI LANKA - SRI LANKAN RUPEE/US$           5015 non-null   float64
 20  SWITZERLAND - FRANC/US$                    5015 non-null   float64
 21  TAIWAN - NEW TAIWAN DOLLAR/US$             5015 non-null   float64
 22  THAILAND - BAHT/US$                        5015 non-null   float64
dtypes: datetime64[ns](1), float64(22)
memory usage: 940.3 KB

In [51]:
# Extract country names from column headers
country_names = []
for col in data.columns[1:]:  # Skip 'Time Serie' column
    if '/' in col:
        # Extract everything before the ' - ' or before '/US$'
        if ' - ' in col:
            country = col.split(' - ')[0]
        else:
            # For cases where there's no ' - ', extract before '/US$'
            country = col.split('/')[0]
        country_names.append(country)

In [52]:
# Clean column names by removing text before '-'
new_columns = []
for col in data.columns:
    if ' - ' in col:
        # Split by ' - ' and take the part after the dash
        new_name = col.split(' - ', 1)[1]
        new_columns.append(new_name)
    else:
        # Keep the original name if no dash is found (like 'Time Serie')
        new_columns.append(col)

# Apply the new column names
data.columns = new_columns

In [57]:
currency_names = data.columns
currency_names

Index(['Time Serie', 'AUSTRALIAN DOLLAR/US$', 'EURO/US$',
       'NEW ZELAND DOLLAR/US$', 'UNITED KINGDOM POUND/US$', 'REAL/US$',
       'CANADIAN DOLLAR/US$', 'YUAN/US$', 'HONG KONG DOLLAR/US$',
       'INDIAN RUPEE/US$', 'WON/US$', 'MEXICAN PESO/US$', 'RAND/US$',
       'SINGAPORE DOLLAR/US$', 'DANISH KRONE/US$', 'YEN/US$', 'RINGGIT/US$',
       'NORWEGIAN KRONE/US$', 'KRONA/US$', 'SRI LANKAN RUPEE/US$', 'FRANC/US$',
       'NEW TAIWAN DOLLAR/US$', 'BAHT/US$'],
      dtype='object')

In [54]:
# Convert 'Time Serie' column to datetime with d/m/y format
data['Time Serie'] = pd.to_datetime(data['Time Serie'], format='%d/%m/%Y')

In [55]:
data.head()

,Time Serie,AUSTRALIAN DOLLAR/US$,EURO/US$,NEW ZELAND DOLLAR/US$,UNITED KINGDOM POUND/US$,REAL/US$,CANADIAN DOLLAR/US$,YUAN/US$,HONG KONG DOLLAR/US$,INDIAN RUPEE/US$,...,SINGAPORE DOLLAR/US$,DANISH KRONE/US$,YEN/US$,RINGGIT/US$,NORWEGIAN KRONE/US$,KRONA/US$,SRI LANKAN RUPEE/US$,FRANC/US$,NEW TAIWAN DOLLAR/US$,BAHT/US$
0,2000-01-03,1.5172,0.9847,1.9033,0.6146,1.8050,1.4465,8.2798,7.7765,43.55,...,1.6563,7.3290,101.70,3.8,7.964,8.4430,72.30,1.5808,31.38,36.97
1,2000-01-04,1.5239,0.9700,1.9238,0.6109,1.8405,1.4518,8.2799,7.7775,43.55,...,1.6535,7.2180,103.09,3.8,7.934,8.3600,72.65,1.5565,30.60,37.13
2,2000-01-05,1.5267,0.9676,1.9339,0.6092,1.8560,1.4518,8.2798,7.7780,43.55,...,1.6560,7.2080,103.77,3.8,7.935,8.3530,72.95,1.5526,30.80,37.10
3,2000-01-06,1.5291,0.9686,1.9436,0.6070,1.8400,1.4571,8.2797,7.7785,43.55,...,1.6655,7.2125,105.19,3.8,7.940,8.3675,72.95,1.5540,31.75,37.62
4,2000-01-07,1.5272,0.9714,1.9380,0.6104,1.8310,1.4505,8.2794,7.7783,43.55,...,1.6625,7.2285,105.17,3.8,7.966,8.4150,73.15,1.5623,30.85,37.30

In [58]:
# Create a dictionary mapping country names to currency names
country_currency_dict = {}
for i, country in enumerate(country_names):
    # Get the corresponding currency name (skip 'Time Serie' column)
    currency = currency_names[i + 1]  # +1 to skip 'Time Serie' column
    country_currency_dict[country] = currency

print(country_currency_dict)

{'AUSTRALIA': 'AUSTRALIAN DOLLAR/US$', 'EURO AREA': 'EURO/US$', 'NEW ZEALAND': 'NEW ZELAND DOLLAR/US$', 'UNITED KINGDOM': 'UNITED KINGDOM POUND/US$', 'BRAZIL': 'REAL/US$', 'CANADA': 'CANADIAN DOLLAR/US$', 'CHINA': 'YUAN/US$', 'HONG KONG': 'HONG KONG DOLLAR/US$', 'INDIA': 'INDIAN RUPEE/US$', 'KOREA': 'WON/US$', 'MEXICO': 'MEXICAN PESO/US$', 'SOUTH AFRICA': 'RAND/US$', 'SINGAPORE': 'SINGAPORE DOLLAR/US$', 'DENMARK': 'DANISH KRONE/US$', 'JAPAN': 'YEN/US$', 'MALAYSIA': 'RINGGIT/US$', 'NORWAY': 'NORWEGIAN KRONE/US$', 'SWEDEN': 'KRONA/US$', 'SRI LANKA': 'SRI LANKAN RUPEE/US$', 'SWITZERLAND': 'FRANC/US$', 'TAIWAN': 'NEW TAIWAN DOLLAR/US$', 'THAILAND': 'BAHT/US$'}

In [61]:
print(len(country_currency_dict.keys()))
print(len(country_currency_dict.values()))

22
22

In [62]:
data.head()

,Time Serie,AUSTRALIAN DOLLAR/US$,EURO/US$,NEW ZELAND DOLLAR/US$,UNITED KINGDOM POUND/US$,REAL/US$,CANADIAN DOLLAR/US$,YUAN/US$,HONG KONG DOLLAR/US$,INDIAN RUPEE/US$,...,SINGAPORE DOLLAR/US$,DANISH KRONE/US$,YEN/US$,RINGGIT/US$,NORWEGIAN KRONE/US$,KRONA/US$,SRI LANKAN RUPEE/US$,FRANC/US$,NEW TAIWAN DOLLAR/US$,BAHT/US$
0,2000-01-03,1.5172,0.9847,1.9033,0.6146,1.8050,1.4465,8.2798,7.7765,43.55,...,1.6563,7.3290,101.70,3.8,7.964,8.4430,72.30,1.5808,31.38,36.97
1,2000-01-04,1.5239,0.9700,1.9238,0.6109,1.8405,1.4518,8.2799,7.7775,43.55,...,1.6535,7.2180,103.09,3.8,7.934,8.3600,72.65,1.5565,30.60,37.13
2,2000-01-05,1.5267,0.9676,1.9339,0.6092,1.8560,1.4518,8.2798,7.7780,43.55,...,1.6560,7.2080,103.77,3.8,7.935,8.3530,72.95,1.5526,30.80,37.10
3,2000-01-06,1.5291,0.9686,1.9436,0.6070,1.8400,1.4571,8.2797,7.7785,43.55,...,1.6655,7.2125,105.19,3.8,7.940,8.3675,72.95,1.5540,31.75,37.62
4,2000-01-07,1.5272,0.9714,1.9380,0.6104,1.8310,1.4505,8.2794,7.7783,43.55,...,1.6625,7.2285,105.17,3.8,7.966,8.4150,73.15,1.5623,30.85,37.30

In [67]:
# Rename 'Time Serie' column to 'Date'
data = data.rename(columns={'Time Serie': 'Date'})

In [68]:
data.head()

,Date,AUSTRALIAN DOLLAR/US$,EURO/US$,NEW ZELAND DOLLAR/US$,UNITED KINGDOM POUND/US$,REAL/US$,CANADIAN DOLLAR/US$,YUAN/US$,HONG KONG DOLLAR/US$,INDIAN RUPEE/US$,...,SINGAPORE DOLLAR/US$,DANISH KRONE/US$,YEN/US$,RINGGIT/US$,NORWEGIAN KRONE/US$,KRONA/US$,SRI LANKAN RUPEE/US$,FRANC/US$,NEW TAIWAN DOLLAR/US$,BAHT/US$
0,2000-01-03,1.5172,0.9847,1.9033,0.6146,1.8050,1.4465,8.2798,7.7765,43.55,...,1.6563,7.3290,101.70,3.8,7.964,8.4430,72.30,1.5808,31.38,36.97
1,2000-01-04,1.5239,0.9700,1.9238,0.6109,1.8405,1.4518,8.2799,7.7775,43.55,...,1.6535,7.2180,103.09,3.8,7.934,8.3600,72.65,1.5565,30.60,37.13
2,2000-01-05,1.5267,0.9676,1.9339,0.6092,1.8560,1.4518,8.2798,7.7780,43.55,...,1.6560,7.2080,103.77,3.8,7.935,8.3530,72.95,1.5526,30.80,37.10
3,2000-01-06,1.5291,0.9686,1.9436,0.6070,1.8400,1.4571,8.2797,7.7785,43.55,...,1.6655,7.2125,105.19,3.8,7.940,8.3675,72.95,1.5540,31.75,37.62
4,2000-01-07,1.5272,0.9714,1.9380,0.6104,1.8310,1.4505,8.2794,7.7783,43.55,...,1.6625,7.2285,105.17,3.8,7.966,8.4150,73.15,1.5623,30.85,37.30

In [69]:
# Function to do the import and process of the data (for streamlit)
def load_and_process_forex_data():
    """
    Load and process forex exchange rate data from the 'Foreign_Exchange_Rates.xlsx' Excel file.
    
    Returns:
    tuple: (processed_dataframe, country_currency_dict, country_names)
    """
     # Import the data
    cwd_path = Path.cwd()
    data_dir = Path('data')
    d_file_path = cwd_path / data_dir / 'Foreign_Exchange_Rates.xlsx'
    raw_data = pd.read_excel(d_file_path)

    # Drop the 'Unnamed: 0' column
    data = raw_data.drop(["Unnamed: 0"], axis=1)
    
    # Drop rows containing 'ND' values
    data = data[~data.isin(['ND']).any(axis=1)]
    
    # Extract country names from column headers
    country_names = []
    for col in data.columns[1:]:  # Skip 'Time Serie' column
        if '/' in col:
            # Extract everything before the ' - ' or before '/US$'
            if ' - ' in col:
                country = col.split(' - ')[0]
            else:
                # For cases where there's no ' - ', extract before '/US$'
                country = col.split('/')[0]
            country_names.append(country)
    
    # Clean column names by removing text before '-'
    new_columns = []
    for col in data.columns:
        if ' - ' in col:
            # Split by ' - ' and take the part after the dash
            new_name = col.split(' - ', 1)[1]
            new_columns.append(new_name)
        else:
            # Keep the original name if no dash is found (like 'Time Serie')
            new_columns.append(col)
    
    # Apply the new column names
    data.columns = new_columns
    
    # Convert 'Time Serie' column to datetime with d/m/y format
    data['Time Serie'] = pd.to_datetime(data['Time Serie'], format='%d/%m/%Y')
    
    # Rename 'Time Serie' column to 'Date'
    data = data.rename(columns={'Time Serie': 'Date'})
    
    # Convert all columns except 'Date' to float
    for col in data.columns[1:]:  # Skip the first column 'Date'
        data[col] = pd.to_numeric(data[col], errors='coerce')
    
    # Create a dictionary mapping country names to currency names
    country_currency_dict = {}
    currency_names = data.columns
    for i, country in enumerate(country_names):
        # Get the corresponding currency name (skip 'Date' column)
        currency = currency_names[i + 1]  # +1 to skip 'Date' column
        country_currency_dict[country] = currency
    
    return data, country_currency_dict, country_names

In [73]:
# All good...
function_test_data, function_dict, function_list = load_and_process_forex_data()

<h4>Modelling 1: ARIMA/SARIMA

In [ ]:
# An ARIMA model (AutoRegressive Integrated Moving Average) is a statistical model designed to forecast time-ordered data 
# by exploiting patterns in the series’ own past values and past forecast errors.

# ARIMA assumes that the future value of a time series can be explained as a linear combination of:
#- Past values of the series (autoregression),
#- Past shocks / errors (moving average),

#...after making the series stationary via differencing.

In [76]:
# Pre-processing function (price -> log_returns) (makes the data more 'stable' and therefore easily interpretable by the model)
def prep_for_arima_log_returns(prices: pd.Series) -> pd.Series:
    
    s = pd.to_numeric(prices.sort_index(), errors="coerce").dropna()
    y = np.log(s).diff().dropna()
    y.name = "y"
    return y

In [81]:
# Convert precicted log_returns to prices (to be used on the outputted log-returns of the model)
def log_returns_to_price_path(
    predicted_log_returns: pd.Series,
    last_close: float,
    start_price_name: str = "price",
):
    """
    Convert predicted log returns into a price forecast path anchored at last_close.

    Parameters
    ----------
    predicted_log_returns : pd.Series
        Predicted log returns for future steps (e.g., from ARIMA forecast).
        Index can be dates; if not, a RangeIndex is fine.
    last_close : float
        Last observed close price (anchor).
        
    Returns
    -------
    pd.Series
        Forecasted prices (same index as predicted_log_returns).
    """
  
    r = predicted_log_returns.astype(float).copy()

    # log price path: log(P_t+k) = log(P_t) + sum_{i=1..k} r_{t+i}
    log_price = np.log(float(last_close)) + r.cumsum()
    prices = np.exp(log_price)

    prices.name = start_price_name
    return prices

In [82]:
# We don't need to do any other pre-processing on the data

In [79]:
import statsmodels
from statsmodels.tsa.arima.model import ARIMA

In [97]:
# ARIMA takes in three parameters: ARIMA(p,d,q):

# p = Past values to use (how has the value changed over the last p days)

# d = Differencing (0 if log returns are used)

# q = Past shocks (how many periods to look back)

In [ ]:
def train_test_split_timeseries(series, test_size=60):
    """
    Split a time series (pandas Series) into train and test sets.
    
    Parameters:
    -----------
    series : pd.Series
        The time series data (already ordered)
    test_size : int, default=60
        Number of observations to use for test set (from the end)
    
    Returns:
    --------
    tuple: (train_series, test_series)
        Training and testing series
    """
    # Calculate split index
    split_index = len(series) - test_size
    
    # Split the data
    train_series = series.iloc[:split_index].copy()
    test_series = series.iloc[split_index:].copy()
    
    return train_series, test_series

In [93]:
# Will start with the GBP/USD currency:
gbp_raw = data['UNITED KINGDOM POUND/US$']
raw_gbp_train, raw_gbp_test = train_test_split_timeseries(gbp_raw)
gbp_returns_train = prep_for_arima_log_returns(raw_gbp_train)

In [94]:
gbp_arima_model = ARIMA(gbp_returns_train, order=(1,0,1)).fit()

/Users/cameroncochrane/Data Projects/Forex-Prediction/.venv/lib/python3.12/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
/Users/cameroncochrane/Data Projects/Forex-Prediction/.venv/lib/python3.12/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)
/Users/cameroncochrane/Data Projects/Forex-Prediction/.venv/lib/python3.12/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: An unsupported index was provided. As a result, forecasts cannot be generated. To use the model for forecasting, use one of the supported classes of index.
  self._init_dates(dates, freq)

In [95]:
gbp_arima_predictions = gbp_arima_model.forecast(60)

/Users/cameroncochrane/Data Projects/Forex-Prediction/.venv/lib/python3.12/site-packages/statsmodels/tsa/base/tsa_model.py:837: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  return get_prediction_index(
/Users/cameroncochrane/Data Projects/Forex-Prediction/.venv/lib/python3.12/site-packages/statsmodels/tsa/base/tsa_model.py:837: FutureWarning: No supported index is available. In the next version, calling this method in a model without a supported index will result in an exception.
  return get_prediction_index(